<div{{ attributes }}>
    {{ form_start(form, {
        attr: {
            'data-model': 'norender|*'
        }
    }) }}
        {{ form_errors(form) }}


        {% if app.session.get('flow_step') == 1 %}

            {{ form_row(form.prenom) }}

            {{ form_row(form.civilite) }}

        {% elseif app.session.get('flow_step') == 2  %}

            {{ form_row(form.email) }}

            {{ form_row(form.plainPassword) }}

        {% elseif app.session.get('flow_step') == 3 %}

            {{ form_row(form.etablissement) }}

            {{ form_row(form.agreeTerms) }}

        {% endif %}

        <div class="mt-5">
            <button
                type="button"
                class="btn btn-secondary"
                data-action="live#action"
                data-live-action-param="previousStep"
                data-loading="addAttribute(disabled)"
            >
                Précédent
            </button>
            <button
                type="button"
                class="btn btn-primary"
                data-action="live#action"
                data-live-action-param="nextStep"
                data-loading="addAttribute(disabled)"
            >
                Suivant
            </button>
            <button
                type="button"
                class="btn btn-success"
                data-action="live#action"
                data-live-action-param="saveForm"
                data-loading="addAttribute(disabled)"
            >
                Créer
            </button>
        </div>

        {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
