{% form_theme form 'components/_form_theme_comment_list.html.twig' %}

<div {{ attributes.defaults(stimulus_controller('mypostform')) }}>
    {{ form_start(form) }}

        <div class="mb-3">
            {{ form_row(form.title) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.slug) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.content) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.foods) }}
        </div>

        <div class="mb-3">
           {{ form_row(form.comments) }}
        </div>


        <div class="d-grid mt-4">
            <button
                type="button"
                class="btn btn-primary"
                data-action="live#action:prevent"
                data-live-action-param="save"
                data-loading="addAttribute(disabled)"
            >
                {{ buttonLabel }}
            </button>
        </div>

    {{ form_end(form) }}
</div>