<div
    {{ attributes.defaults(stimulus_controller('postform', {
        breakfast: 'milk',
        controllerClasses: {
            loading: 'spinner'
        }
    })) }}
    data-postform-andrahoy-class="andrahoy"
>

    {{ form_start(form) }}

        <div class="mb-3">
            {{ form_row(form.title, {
                attr: {
                    'data-postform-target': 'titre'
                }
            }) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.slug) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.content) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.situation) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.meal, {
                attr: {
                    'data-postform-target': 'sakafo'
                }
            }) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.foods) }}
        </div>

        {% set postHasPhotos = initialFormData is not null and initialFormData.photos|length > 0 %}
        {% if postHasPhotos %}
        <div class="row">
            {{ form_label(form.photos) }}
            <div class="col-sm-10">
                <table class="table table-light form-no-mb">
                    <tbody>
                        {% for photo in initialFormData.photos %}
                        <tr>
                            <td>{{ photo.title }}</td>
                            <td><a href="#" data-bs-toggle="modal" data-bs-target="#nx27gy9bqi_{{ photo.id }}">{{ photo.url }}</a></td>
                            <td>
                                <button
                                    class="btn btn-outline-danger"
                                    data-action="live#action"
                                    data-live-action-param="deletePhoto"
                                    data-live-id-param="{{ photo.id }}"
                                >
                                    X
                                </button>
                            </td>
                            <td>
                                <twig:ModalPhotoComponent id="nx27gy9bqi_{{ photo.id }}" photo="{{ photo }}" />
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        <div class="mb-3">
            {% if postHasPhotos %}
                {{ form_row(form.photos, { label: false }) }}
            {% else %}
                {{ form_row(form.photos) }}
            {% endif %}
        </div>

        <div class="mb-3">
           {{ form_row(form.comments) }}
        </div>


        <div class="d-grid mt-4">
            <button
                type="button"
                class="btn btn-primary"
                data-action="live#action"
                data-live-action-param="files|save"
                data-loading="addAttribute(disabled)"
            >
                {{ buttonLabel }}
            </button>
        </div>

    {{ form_end(form) }}
</div>