<div{{ attributes }}>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ post.slug }}</td>
            </tr>
            <tr>
                <th class="align-middle">Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Situation</th>
                <td>{{ post.situation.name }}</td>
            </tr>
            <tr>
                <th class="align-middle">Foods</th>
                <td>
                    <!-- Some borders are removed -->
                    <ul class="list-group list-group-flush">
                        {% for food in post.foods %}
                            <li class="list-group-item">{{ food.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th class="align-middle">Photos</th>
                <td>
                    <table class="table table-light form-no-mb">
                        <tbody>
                            {% for photo in post.photos %}
                            <tr>
                                <td>{{ photo.title }}</td>
                                <td><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal_{{ photo.id }}">{{ photo.url }}</a></td>
                                <td>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal_{{ photo.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{ photo.title }}</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img src="{{ vich_uploader_asset(photo, 'imageFile') }}" alt="{{ photo.title }}" style="width:100%; height: auto;" >
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th class="align-middle">Comments</th>
                <td>
                    <!-- Some borders are removed -->
                    <ul class="list-group list-group-flush">
                        {% for comment in post.comments %}
                            <li class="list-group-item">{{ comment.description }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
