<div{{ attributes }}>
    {{ form_start(form) }}

        <div class="mb-3">
            {{ form_label(form.title) }}
            {% set _class = 'form-control' ~ (not form.title.vars.valid ? ' is-invalid' : '') %}
            {{ form_widget(form.title, { attr: { class: _class  } }) }}
            <small class="text-danger">{{ form_errors(form.title) }}</small>
        </div>

        <div class="mb-3">
            {{ form_label(form.slug) }}
            {% set _class = 'form-control' ~ (not form.slug.vars.valid ? ' is-invalid' : '') %}
            {{ form_widget(form.slug, { attr: { class: _class  } }) }}
            <small class="text-danger">{{ form_errors(form.slug) }}</small>
        </div>

        <div class="mb-3">
            {{ form_label(form.content) }}
            {% set _class = 'form-control' ~ (not form.content.vars.valid ? ' is-invalid' : '') %}
            {{ form_widget(form.content, { attr: { class: _class  } }) }}
            <small class="text-danger">{{ form_errors(form.content) }}</small>
        </div>

        <div class="d-grid mt-4">
            <button
                type="button"
                class="btn btn-primary"
                data-action="live#action:prevent"
                data-live-action-param="save"
            >
                {{ buttonLabel }}
            </button>
        </div>

    {{ form_end(form) }}
</div>


    

