<div {{ attributes.defaults(stimulus_controller('mypostform')) }}>
    {{ form_start(form) }}

        <div class="mb-3">
            {{ form_row(form.title) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.slug) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.content) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.comments) }}
            {% for key, commentForm in form.comments %}
                {# render a delete button for every row #}
                {{ form_row(commentForm.vars.button_delete, {
                    label: 'X',
                    attr: {
                        class: 'btn btn-outline-danger',
                        'data-live-action-param': 'removeComment'
                    }
                }  ) }}

                {# render rest of the comment form #}
                {{ form_row(commentForm) }}
            {% endfor %}

            {# render the add button #}
            {{ form_row(form.comments.vars.button_add, { 
                label: '+ Ajouter',
                attr: {
                    class: 'btn btn-outline-primary',
                    'data-live-action-param': 'addComment'
                }
            }) }}

            {# avoid an extra label for this field #}
            {% do form.comments.setRendered %}
        </div>


        <div class="d-grid mt-4">
            <button
                type="button"
                class="btn btn-primary"
                data-action="live#action:prevent"
                data-live-action-param="save"
                data-loading="addAttribute(disabled)"
            >
                {{ buttonLabel }}
            </button>
        </div>

    {{ form_end(form) }}
</div>